table {
  margin: 20px auto;
  border-collapse: collapse;
  min-width: calc(320px / 3);
}

th,
td {
  width: 200px;
  padding: 0.75rem;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
  border-bottom: 2px solid #1f7d63;
}

th:last-child,
td:last-child {
  padding: 0;
}

.row:hover {
  background: #f7f7f7;
}
